.gradle/
.idea/
build/
idea-module-files/
hybris-sbg/
installer/
build-tools/
licenses/

hybris/*
!hybris/bin/
hybris/bin/*
!hybris/bin/custom/
hybris/bin/custom/yb2bacceleratorstorefront/*
!hybris/bin/custom/vanillacommercehacext
hybris/bin/custom/vanillacommercehacext/.settings/
hybris/bin/custom/vanillacommercehacext/.externalToolBuilders/
hybris/bin/custom/vanillacommercehacext/**/classes/
hybris/bin/custom/vanillacommercehacext/**/testclasses/
hybris/bin/custom/vanillacommercehacext/**/gensrc/

README
SIGNATURE.SMF

.project
.springBeans
.classpath
.pmd
.lastupdate
ruleset.xml
beans.xsd
platformhome.properties
items.xsd
hmc.xsd
extensioninfo.xsd
build.xml
rebel.xml
*-testclasses.xml
*-webtestclasses.xml
*.log
*.iml

# Local user overrides for build config
config/user.properties

# Dependencies of custom extensions should ALWAYS resolved by Maven (usemaven="true" in extensioninfo.xml)
hybris/bin/custom/**/lib/*.jar