.gradle/
.idea/
build/
idea-module-files/
hybris/*
!hybris/bin/
hybris/bin/*
!hybris/bin/custom/
hybris/bin/custom/**/.settings/
hybris/bin/custom/**/.externalToolBuilders/
hybris/bin/custom/**/gensrc/
hybris/bin/custom/**/classes/
hybris/bin/custom/**/testclasses/
hybris/bin/custom/**/eclipsebin/
hybris/bin/custom/**/jalo/
hybris/bin/custom/**/hmc/bin/
hybris/bin/custom/**/commonwebsrc/
hybris/bin/custom/**/addons/
hybris/bin/custom/**/addonsrc/
hybris/bin/custom/**/node_modules/
hybris-sbg/
installer/
build-tools/

README
SIGNATURE.SMF

.project
.springBeans
.classpath
.pmd
.lastupdate
ruleset.xml
beans.xsd
platformhome.properties
items.xsd
hmc.xsd
extensioninfo.xsd
build.xml
rebel.xml
*-testclasses.xml
*-webtestclasses.xml
*.log
*.iml

# Local user overrides for build config
config/user.properties

# Dependencies of custom extensions should ALWAYS resolved by Maven (usemaven="true" in extensioninfo.xml)
hybris/bin/custom/**/lib/*.jar